.DS_Store
node_modules
dist
coverage
.env
.env.local
tmp
*.db
*.db-*
backend/bin
backend/certs/
desktop-proxy/bin
desktop-proxy/dist
web/tsconfig.tsbuildinfo
backend/internal/app/embedded_web/*
!backend/internal/app/embedded_web/_placeholder.txt

backend/app
